<ion-view title="Competitions" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="wFSL" id="competitions-button1" class="button button-assertive  button-block button-outline">Whatsapp Football Super League</a>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="wPL" id="competitions-button2" class="button button-assertive  button-block button-outline">Whatsapp Premier League</a>
  </ion-content>
</ion-view>