<ion-view title="Players" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="players-list4">
      <ion-item class="item-avatar" id="players-list-item15" ui-sref="ricky">
        <img src="img/rdXLhyQ2yvxI08jqpJ0A_13891857_1070331073053913_3437767446725792967_n.jpg">
        <h2>Ricky (C)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item36" ui-sref="boney">
        <img src="img/fbsMb4k6Txecf3r82CKp_14731263_10154249600022912_3805327034668895041_n.jpg">
        <h2>Boney (VC)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item35" ui-sref="ameen">
        <img src="img/pSurtlnET2Gql0MjcVPv_15590978_984226805016306_5094633494770700526_o.jpg">
        <h2>Ameen</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item34" ui-sref="aneesh">
        <h2>Aneesh</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item33" ui-sref="ankit">
        <img src="img/KjkhRSfYQ6SyhWLaAeMG_1929026_666361613466728_980911091547915519_n.jpg">
        <h2>Ankit</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item32" ui-sref="arjunRono">
        <img src="img/oaabOSvoTA2ggPa4VhD8_12744678_1747218665492718_6810546602665917211_n.jpg">
        <h2>Arjun Rono</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item31" ui-sref="asif">
        <h2>Asif</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item30" ui-sref="aslam">
        <img src="img/oVYF1oeRShSmpY20O3wV_15356691_909801469153982_1068899519365570427_n.jpg">
        <h2>Aslam (Asst. Manager)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item29" ui-sref="bhavesh">
        <h2>Bhavesh</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item28" ui-sref="harish">
        <h2>Harish</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item27" ui-sref="harsha">
        <h2>Harsha</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item26" ui-sref="jasir">
        <h2>Jasir</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item25" ui-sref="kiran">
        <img src="img/oVip6Z5GSSmFy3wK4O7o_11951755_926053254120659_8351461015801559429_n.jpg">
        <h2>Kiran</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item24" ui-sref="kiranNair">
        <h2>Kiran Nair</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item23" ui-sref="koko">
        <img src="img/e7TCCEq1RwG5VVXFf16L_12314136_926577897416699_4219311529449415339_n.jpg">
        <h2>Koko</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item22" ui-sref="lukku">
        <h2>Lukku</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item21" ui-sref="mtukushi">
        <h2>Mtukushi</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item20" ui-sref="muneeb">
        <h2>Muneeb</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item17" ui-sref="ramdas">
        <h2>Ramdas</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item18" ui-sref="raviraj">
        <img src="img/5rW3T8ELS9SFAdolFfu1_13728997_954196804691630_5280687663368584063_n.jpg">
        <h2>Raviraj</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item19" ui-sref="saket">
        <h2>Saket</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item37" ui-sref="sathyajith">
        <img src="img/ucHhFSNSLKX90m6U1jrb_12710771_508992829283324_6800259468950064495_o.jpg">
        <h2>Sathyajith (Manager)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item44" ui-sref="saurav">
        <h2>Saurav</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item43" ui-sref="sreenath">
        <h2>Sreenath</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item42" ui-sref="suraj">
        <h2>Suraj</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item41" ui-sref="sushmit">
        <h2>Susmit</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item40" ui-sref="vinod">
        <h2>Vinod</h2>
      </ion-item>
      <ion-item class="item-avatar" id="players-list-item39" ui-sref="vysakhRaj">
        <img src="img/RM656LPxSHqMVbtFXHWf_10858390_1025430210817463_2912421263983512710_n.jpg">
        <h2>Vysakh Raj</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>